:root {
  --ion-color-primary: #000000;
  --ion-color-primary-contrast: #ffffff;
}
.custom-icon {
  color: var(--ion-color-primary);
}
.custom-avatar {
  margin-right: 15px;
}

ion-button {
  text-transform: none;
 }
 